.nav__link, .menu__link {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-decoration: none;
  color: #fff; }

.slider-nav__buttons--left, .slider-nav__buttons--right {
  background-repeat: no-repeat;
  background-position: center; }

.service__emblem, .features__emblem, .testimonials__emblem, .person__emblem, .contact__emblem {
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase; }

.expertise, .service, .testimonials, .vision, .footer__box, .footer__nav {
  max-width: 1150px;
  margin: 0 auto; }

.expertise__head, .vision__head {
  font-weight: 600;
  font-size: 52px;
  line-height: 1.5;
  color: #253757;
  text-align: center; }

.form__head, .contact__head {
  font-weight: 600;
  font-size: 32px;
  color: #253757; }

.about__text, .vision__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: #6c788b; }

.header {
  height: 800px;
  position: relative;
  padding: 48px 20px;
  background-color: #2c2c2c;
  border-radius: 0 0 30px 30px;
  color: #fff; }

@media screen and (max-width: 970px) {
  .header {
    height: 600px; } }

.photo-slider {
  width: 43%;
  height: 85%;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 30px 0;
  background-image: url(../images/slider/slider0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

@media screen and (max-width: 970px) {
  .photo-slider {
    display: none; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav__logo {
    margin-right: 64px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
  .nav__item {
    margin-right: 64px; }
  .nav__link {
    -webkit-transition: color 0.4s;
    transition: color 0.4s; }
    .nav__link:hover {
      color: #2060f6; }

.container {
  position: relative;
  padding: 148px 0; }
  .container--header {
    padding: 0;
    max-width: 1150px;
    margin: 0 auto; }
  .container--servise {
    padding-bottom: 44px; }
  .container--color {
    background-color: #fff; }
  .container--vision {
    position: relative;
    padding: 199px 0 395px; }

@media screen and (max-width: 970px) {
  .container {
    padding: 70px 0; } }

.title {
  max-width: 370px;
  font-weight: 600;
  padding-top: 164px; }
  .title__head {
    font-size: 64px;
    line-height: 1;
    letter-spacing: -2px; }
  .title__text {
    margin: 32px 0 56px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5; }

@media screen and (max-width: 970px) {
  .title--origin {
    display: none; }
  .title {
    padding-top: 60px; }
    .title__head {
      font-size: 48px; }
    .title__text {
      font-size: 14px; } }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px; }
  .menu__link {
    position: relative;
    -webkit-transition: color 0.4s;
    transition: color 0.4s; }
    .menu__link:hover {
      color: #2060f6; }
    .menu__link::after {
      content: "";
      position: absolute;
      top: calc(100% + 8px);
      left: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: #2060f6;
      border-radius: 4px; }

@media screen and (max-width: 970px) {
  .menu {
    display: none; } }

.button {
  width: 226px;
  height: 56px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  line-height: 1.5;
  background-color: #2060f6;
  border-radius: 8px;
  border-width: 2px;
  border-color: #2060f6;
  cursor: pointer;
  -webkit-transition: color 0.4s, background-color 0.4s;
  transition: color 0.4s, background-color 0.4s; }
  .button:hover {
    color: #2060f6;
    background-color: #fff; }

.slider-nav {
  position: absolute;
  bottom: 48px;
  left: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .slider-nav__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .slider-nav__buttons {
    display: block;
    width: 6px;
    height: 6px;
    padding: 12px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 8px; }
    .slider-nav__buttons--left {
      background-image: url(../images/slider/arrow-left2.svg); }
    .slider-nav__buttons--right {
      background-image: url(../images/slider/arrow-right2.svg); }
  .slider-nav__text {
    padding-left: 16px;
    width: 264px; }
  .slider-nav__head {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 3px;
    margin-bottom: 8px; }
  .slider-nav__paragraph {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400; }

.about {
  max-width: 754px;
  margin: 0 auto;
  padding: 0 20px; }
  .about__head {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
    color: #253757; }
  .about__text {
    margin-top: 16px; }

@media screen and (max-width: 970px) {
  .about {
    max-width: 454px; }
    .about__text {
      font-size: 18px; } }

.expertise__head {
  margin-bottom: 64px; }

.expertise__container {
  display: grid;
  grid-template-columns: repeat(3, 315px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media screen and (max-width: 970px) {
  .expertise__container {
    grid-template-columns: repeat(2, 315px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .expertise__head {
    font-size: 44px; } }

@media screen and (max-width: 650px) {
  .expertise__container {
    grid-template-columns: repeat(1, 315px); } }

.profile {
  text-align: center; }
  .profile__img {
    width: 166px;
    height: 166px;
    border-radius: 16px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .profile__head {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    color: #253757;
    margin: 40px 0 16px; }
  .profile__text {
    width: 264px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    padding-bottom: 19px;
    color: #6c788b; }

.service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .service__title {
    max-width: 362px;
    height: 249px;
    margin-bottom: 30px;
    padding: 0 20px; }
  .service__emblem {
    color: #c0cdd7; }
  .service__head {
    margin-top: 16px;
    font-size: 32px;
    line-height: 1.3;
    color: #253757; }
  .service__text {
    margin: 24px 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #6c788b; }
  .service__boxes {
    display: grid;
    grid-template-columns: repeat(2, 264px);
    grid-gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .service__box--move {
    -webkit-transform: translateY(132px);
            transform: translateY(132px); }

@media screen and (max-width: 970px) {
  .service {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center; }
    .service__head {
      font-size: 28px; }
    .service__box--move {
      -webkit-transform: none;
              transform: none; } }

@media screen and (max-width: 650px) {
  .service__boxes {
    grid-template-columns: repeat(1, 264px); } }

.box {
  width: 264px;
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;
  z-index: 1; }
  .box__number {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 46px;
    font-size: 13px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #2060f6;
    padding: 2px 12px;
    border-radius: 23px;
    background-color: rgba(32, 96, 246, 0.1); }
  .box__text {
    width: 150px;
    margin: 24px 0 32px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #6c788b; }
  .box__case {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none; }
  .box__button {
    width: 16px;
    height: 16px;
    padding: 12px;
    border-radius: 50%;
    background-color: #2060f6;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s; }
    .box__button:hover {
      -webkit-transform: scale(1.2, 1.2);
              transform: scale(1.2, 1.2); }
  .box__description {
    margin-left: 16px;
    font-size: 15px;
    line-height: 1.5;
    color: #334563; }

.menu-mobile {
  display: none;
  position: relative;
  top: 50px;
  margin-left: 50px;
  z-index: 1; }
  .menu-mobile__link {
    text-decoration: none;
    color: #fff;
    -webkit-transition: color 0.4s ease;
    transition: color 0.4s ease; }
    .menu-mobile__link:hover {
      color: #2060f6; }
  .menu-mobile__check {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2; }
  .menu-mobile__button {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0;
            transform-origin: 4px 0;
    -webkit-transition: background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
    .menu-mobile__button--one {
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%; }
    .menu-mobile__button--three {
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%; }
  .menu-mobile__check:checked ~ .menu-mobile__button--one {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px); }
  .menu-mobile__check:checked ~ .menu-mobile__button--two {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2); }
  .menu-mobile__check:checked ~ .menu-mobile__button--three {
    opacity: 1;
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px); }
  .menu-mobile__list {
    position: absolute;
    width: 300px;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 100px;
    list-style: none;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  .menu-mobile__item {
    padding: 10px 0;
    font-size: 32px; }
  .menu-mobile__check:checked ~ .menu-mobile__list {
    -webkit-transform: none;
            transform: none; }

.title--mobile {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -webkit-transform: none;
          transform: none;
  margin: 0 auto; }

.menu-mobile__check:checked ~ .title--mobile {
  -webkit-transform: translate(-200%, 0);
          transform: translate(-200%, 0); }

@media screen and (max-width: 970px) {
  .menu-mobile {
    display: block; } }

.features {
  position: relative;
  height: 976px;
  background-color: #2c2c2c;
  border-radius: 30px 0 0 30px;
  margin-left: 8%;
  color: #fff; }
  .features__container {
    padding: 204px; }
  .features__box {
    max-width: 362px;
    padding: 0 20px; }
  .features__head {
    margin-top: 16px;
    font-size: 32px;
    line-height: 1.5; }
  .features__project {
    margin-top: 32px;
    margin-bottom: 64px; }
  .features__photo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 48%;
    height: 70%;
    background-image: url(../images/what-we-do/photo.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px 0 0; }

@media screen and (max-width: 1350px) {
  .features {
    height: 790px; }
    .features__container {
      padding: 75px; } }

@media screen and (max-width: 970px) {
  .features {
    height: 790px;
    border-radius: 0;
    margin-left: 0; }
    .features__head {
      font-size: 28px; }
    .features__box {
      margin: 0 auto; }
    .features__photo {
      display: none; }
    .features__container {
      padding: 70px 0; } }

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .project__item {
    width: 24px;
    height: 24px;
    padding: 20px;
    background-color: #fff;
    border-radius: 50%; }
  .project__img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .project__text {
    width: 264px;
    margin-left: 32px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5; }

@media screen and (max-width: 1350px) {
  .project__text {
    font-size: 13px; } }

.testimonials {
  padding: 0 20px; }
  .testimonials__emblem {
    color: #c0cdd7; }
  .testimonials__head {
    margin-top: 16px;
    font-size: 32px;
    line-height: 1.3;
    color: #253757; }
  .testimonials__block {
    display: grid;
    grid-template-columns: repeat(3, 314px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 85px; }

@media screen and (max-width: 970px) {
  .testimonials__block {
    grid-template-columns: repeat(2, 314px);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    grid-row-gap: 30px; }
  .testimonials__head {
    font-size: 28px; } }

@media screen and (max-width: 650px) {
  .testimonials__block {
    grid-template-columns: repeat(1, 314px); } }

.person {
  position: relative;
  text-align: center;
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  z-index: 1; }
  .person::before {
    content: "";
    position: absolute;
    display: block;
    top: 83px;
    left: 40px;
    width: 139px;
    height: 56px;
    background-color: #2060f6;
    border-radius: 12px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg); }
  .person::after {
    content: "";
    position: absolute;
    bottom: 240px;
    right: 38px;
    width: 139px;
    height: 56px;
    background-color: #2060f6;
    border-radius: 12px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg); }
  .person__img {
    display: block;
    position: relative;
    width: 140px;
    height: 140px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 50%;
    margin: 87px;
    z-index: 1;
    -webkit-transition: border-radius 0.4s, -webkit-transform 0.4s;
    transition: border-radius 0.4s, -webkit-transform 0.4s;
    transition: transform 0.4s, border-radius 0.4s;
    transition: transform 0.4s, border-radius 0.4s, -webkit-transform 0.4s; }
    .person__img:hover {
      -webkit-transform: scale(1.8, 1.8);
              transform: scale(1.8, 1.8);
      border-radius: 16px; }
  .person__text {
    position: relative;
    max-width: 250px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #6c788b; }
    .person__text::before {
      content: "";
      position: absolute;
      width: 20.5px;
      height: 18.5px;
      background-image: url(../images/testimonials/sign.svg);
      left: calc(50% - 10px);
      top: calc(-50%); }
  .person__head {
    margin: 16px 0 4px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #253757; }
  .person__emblem {
    color: #c0cdd7;
    margin-bottom: 32px; }

.vision {
  max-width: 754px;
  text-align: center;
  padding: 0 20px; }
  .vision__head {
    margin-bottom: 24px; }
  .vision__button {
    margin-top: 64px;
    z-index: 1; }

@media screen and (max-width: 970px) {
  .vision__head {
    font-size: 44px; }
  .vision__text {
    font-size: 18px; } }

.decor__small {
  position: absolute;
  width: 45.3px;
  height: 18px;
  border: 3px solid #2030f6;
  opacity: 0.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg); }
  .decor__small:nth-of-type(1) {
    top: 10%;
    left: 25%; }
  .decor__small:nth-of-type(2) {
    top: 15%;
    right: 10%; }
  .decor__small:nth-of-type(3) {
    top: 55%;
    left: 30%; }
  .decor__small:nth-of-type(4) {
    top: 63%;
    right: 35%; }

.decor__medium {
  position: absolute;
  width: 93.5px;
  height: 37px;
  border: 5px solid #2030f6;
  opacity: 0.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg); }
  .decor__medium:nth-of-type(5) {
    top: 15%;
    left: 10%; }
  .decor__medium:nth-of-type(6) {
    top: 60%;
    left: 4%; }
  .decor__medium:nth-of-type(7) {
    top: 40%;
    right: 4%; }
  .decor__medium:nth-of-type(8) {
    top: 15%;
    right: 30%; }
  .decor__medium:nth-of-type(9) {
    top: 70%;
    right: 50%; }

.decor__big {
  position: absolute;
  width: 143px;
  height: 56.5px;
  border: 5px solid #2030f6;
  opacity: 0.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg); }
  .decor__big:nth-of-type(10) {
    top: 35%;
    left: 13%; }
  .decor__big:nth-of-type(11) {
    top: 30%;
    right: 15%; }
  .decor__big:nth-of-type(12) {
    top: 60%;
    right: 13%; }

@media screen and (max-width: 970px) {
  .decor {
    display: none; } }

.footer {
  background-color: #2c2c2c;
  padding: 180px 0 84px;
  border-radius: 30px 30px 0 0; }
  .footer__box {
    display: grid;
    grid-template-columns: repeat(2, 460px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px; }
  .footer__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 121px;
    padding: 0 20px; }

@media screen and (max-width: 970px) {
  .footer__box {
    grid-template-columns: minmax(280px, 460px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer__nav {
    display: none; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__head {
    color: #fff;
    margin-bottom: 56px; }
  .form__input {
    margin-bottom: 48px;
    color: #fff;
    max-width: 460px;
    height: 41px;
    border: 0;
    border-bottom: 1px solid #fff;
    background-color: #2c2c2c; }
    .form__input::-webkit-input-placeholder {
      font-size: 15px;
      line-height: 22px;
      color: #fff; }
    .form__input::-moz-placeholder {
      font-size: 15px;
      line-height: 22px;
      color: #fff; }
    .form__input:-ms-input-placeholder {
      font-size: 15px;
      line-height: 22px;
      color: #fff; }
    .form__input::-ms-input-placeholder {
      font-size: 15px;
      line-height: 22px;
      color: #fff; }
    .form__input::placeholder {
      font-size: 15px;
      line-height: 22px;
      color: #fff; }
    .form__input--dec {
      opacity: 0.7; }
  .form__button {
    margin-top: 80px; }

@media screen and (max-width: 970px) {
  .form__head {
    font-size: 28px; }
  .form__button {
    margin: 0 auto; } }

.contact {
  color: #fff; }
  .contact__head {
    color: #fff;
    margin-bottom: 56px; }
  .contact__emblem {
    opacity: 0.5; }
  .contact__conect {
    margin: 8px 0 48px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px; }
  .contact__relation {
    margin-top: 16px; }
  .contact__img {
    display: inline-block;
    cursor: pointer;
    margin-right: 32px;
    width: 32px;
    height: 32px;
    background-image: url(../images/what-we-do/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-image 0.4s;
    transition: background-image 0.4s; }
    .contact__img:hover {
      background-image: url(../images/what-we-do/facebook-blue.svg); }
    .contact__img--2 {
      background-image: url(../images/what-we-do/twitter.svg); }
      .contact__img--2:hover {
        background-image: url(../images/what-we-do/twitter-blue.svg); }
    .contact__img--3 {
      background-image: url(../images/what-we-do/instagram.svg); }
      .contact__img--3:hover {
        background-image: url(../images/what-we-do/instagram-blue.svg); }

@media screen and (max-width: 970px) {
  .contact__head {
    margin: 50px 0 20px;
    font-size: 28px; }
  .contact__conect {
    font-size: 18px; } }

html,
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
button {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  line-height: 1.5; }

.main {
  background-color: #e5e5e5; }

/*# sourceMappingURL=main.css.map */
